<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form role="form">
  <div class="form-group">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    Apellido Paterno<br>
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    Appellido Materno<br>
    <%= f.text_field :city %>
  </div>
  <div class="form-group">
    Estado Origen<br>
    <%= f.text_field :state %>
  </div>
  <div class="form-group">
    Pasajeros<br>
    <%= f.number_field :zip %>
  </div>
  <div class="form-group">
    Ocupación<br>
    <%= f.text_field :certified_by %>	
  </div>
  <div class="form-group">
    Rentas<br>
    <%= f.number_field :experience %>
  </div>

  <div class="actions">
    <%= f.submit :Aceptar%>
  </div>
  </form>
<% end %>
