<p id="notice"><%= notice %></p>

<h1>Lista de Autos.</h1>

<table class="table">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th></th>
      <th>Número de pasajeros</th>
      <th>Años de Servicio</th>
      <th>Fecha de Alta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.pet_type %></td>
        <td><%= pet.age %></td>
        <td><%= pet.weight %></td>
        <td><%= pet.last_appointment %></td>
        <td><%= link_to 'Ver Detalles', pet %></td>
        <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
        <td><%= link_to 'Eliminar', pet, method: :delete, data: { confirm: 'Está seguro de eliminar el registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Auto', new_pet_path %>
