<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong></strong>
  <%= @pet.pet_type %>
</p>

<p>
  <strong>Número de pasajeros:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Años de servicio:</strong>
  <%= @pet.weight %>
</p>

<p>
  <strong>Fecha de alta:</strong>
  <%= @pet.last_appointment %>
</p>

<%= link_to 'Editar', edit_pet_path(@pet) %> |
<%= link_to 'Atras', pets_path %>
